<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='site_icon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail Mate</title>
    <script type="module" crossorigin src="{{ url_for('static', filename='index-d7Y2rLmr.js') }}"></script>
    <link rel="stylesheet" crossorigin href="{{ url_for('static', filename='index-DvNEPGz0.css') }}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
